.top {
    display: flex;
    height: 48px;
}

.week_container {
    left: 390px;
    display: flex;
}

.week {
    width: 148px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.week_range {
    width: 100%;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.day_container {
    display: flex;
}

.day {
    flex: 1;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}